<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Sovio Test Suite">
<test name="All Tests">
<classes>
<class name="tests.RegisterTest"/>
<class name="tests.LoginTest"/>
<class name="tests.PasskeyRegistrationTest"/>
<class name="tests.PasskeyLoginTest"/>
</classes>
</test>
</suite>